<?xml version="1.0"?>
<configuration>
  <connectionStrings/>
  <appSettings>
    <add key="BhavcocyFiles" value="D:\All_ProductionCode\FTP\Bhavcopy\"/>
    <add key="NCDEXDocs" value="D:\All_ProductionCode\FTP\NCDEXDocuments\"/>
    <add key="Parameters" value="D:\All_ProductionCode\FTP\Parameter\"/>

    <add key="CommonBhavcopy" value="D:\All_ProductionCode\FTP\Common Bhavcopy\"/>
    <add key="NCDEXDOCS" value="D:\All_ProductionCode\FTP\NCDEXDOCS\"/>
    
    <add key="Reports" value="D:\All_ProductionCode\FTP\Reports\"/>
    
    <add key="MockNCDEXDocs" value="D:\All_ProductionCode\FTP\NCDEXDocuments\MOCK\"/>
    <add key="WebsiteDownload" value="D:\All_ProductionCode\FTP\NCDEXDocuments\NEXTRA\"/>
    <!--<add key="NEXTRADownloadMain" value="D:\All_ProductionCode\FTP\NCDEXDocuments\NEXTRA\NEXTRA 3.19\"/>-->
    <add key="DownloadLog_Path" value="D:\All_ProductionCode\NCDEXCommon\Logs\DownloadLog\"/>
    <add key="ErrorLog_Path" value="D:\All_ProductionCode\NCDEXCommon\Logs\"/>
    <add key="ForwardContract" value="FRWDNCDEX"/>
    <add key="DownloadTradeX" value="D:\All_ProductionCode\NCDEXCommon\Downloads\"/>
    <!--<add key="DownloadLog" value="D:\All_ProductionCode\NCDEXCommon\Logs\log.txt"/>
    <add key="ErrorLog" value="D:\All_ProductionCode\NCDEXCommon\Logs\errorLog.txt"/>-->
    <add key="ValidateKey" value="insert,update,delete,truncate,drop,script,',$,#,@,--"/>
    <add key="memUserName" value="MEMBER"/>
    <add key="memPassword" value="ncdex123"/>
    <add key="_Enablecaptcha" value="1"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false"/>
        </verbs>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <authentication mode="Windows"/>
    <!--<customErrors mode="RemoteOnly"/>-->
    <customErrors mode="On" defaultRedirect="~/Error">
      <error statusCode="404" redirect="~/404ErrorPage.aspx"/>
    </customErrors>
    <httpRuntime enableVersionHeader="false"/>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.aspx" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha"/>
    </httpHandlers>
    <httpCookies requireSSL="true"/>
  </system.web>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="True" bypassonlocal="True"/>
    </defaultProxy>
  </system.net>
</configuration>