name: Build DLLs (ASP.NET WebForms)

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: self-hosted  # your local VS2022 runner

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Clean output folder
        run: |
          if (Test-Path "dll") { Remove-Item -Recurse -Force "dll" }
          New-Item -ItemType Directory -Force -Path "dll"

            - name: Build solution and generate DLLs
              run: |
                & "C:\Program Files\Microsoft Visual Studio\2022\Community\MSBuild\Current\Bin\MSBuild.exe" "CommonExtranet.sln" /p:Configuration=Release /p:OutputPath=dll /p:Platform="Any CPU"


      - name: List generated DLLs
        run: dir dll
